{% extends 'user/base/Base.html' %}
{% load staticfiles %}
{% block title %}Inversionista GOIAP {% endblock %}
{% block extra %}
<link rel="stylesheet" href="{% static 'css/EstilosIndexInversionista.css' %}">
{% endblock %}
{% block iconos %}
<nav class="iconos">
	<a href="#" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</nav>
{% endblock %}
{% block contenido %}
<div class="contenedorGeneral">
	<fieldset>
		<legend>Inversionista</legend>
		<div class="arriba">
			<a href="#" class="btn btn-default botonGeneral">Consultar Estado Obra</a>
		</div>
	</fieldset>
</div>
{% endblock %}