{% extends 'user/base/Base.html' %}
{% load staticfiles %}
{% block title %}Inversionista GOIAP {% endblock %}
{% block extra %}
<link rel="stylesheet" href="{% static 'css/EstilosIndexAdmin.css' %}">
{% endblock %}
{% block imagen%} <a href="{% url 'indexInversionista' %}"><img src="{% static 'logo/GOIAP.png' %}" alt=""></a> {% endblock %}
{% block iconos %}
<nav class="iconos">
	<a href="{% url 'logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</nav>
{% endblock %}
{% block contenido %}

{% if listObras %}
{% for obras in listObras %}
<center><h1>{{obras.nombre}}</h1></center>
<center><img src='{{ obras.imagen.url }}' width="300px" height="300px"></center>
<br>
<center><a class="buttonTwo orange radius" href="#">Ver Inventarios</a>
<a class="buttonTwo orange radius" href="#">Solicitar Documento</a>
</center>
<br>

{% endfor %}
{% else %}
<h1>no hay registros</h1>
{% endif %}

	<table>
		<thead>
			<tr>
				<td>NOMBRE</td>
				<td>DIRECCIÓN</td>
				<td>TIPO</td>
				<td>ESTADO</td>
				<td># APARTAMENTOS</td>
				<td>FECHA INICIO</td>
				<td>FECHA FIN</td>
				<td>USUARIO CREADOR</td>
				
				
			</tr>

		</thead>
		<tbody>
			{% if listObras %}
			{% for obras in listObras %}
			<tr>
				<td>{{obras.nombre}}</td>
				<td>{{obras.direccion}}</td>
				<td>{{obras.tipo}}</td>
				<td>{{obras.estado}}</td>
				<td>{{obras.nroApartamentos}}</td>
				<td>{{obras.fechaInicio}}</td>
				<td>{{obras.fechaFin}}</td>
				<td>{{obras.fk_administrador_id}}</td>

			</tr>
			{% endfor %}
		{% else %}
		<h1>no hay registros</h1>
		{% endif %}	
		</tbody>
	</table>
		
		<br>
<center><legend>Avances de Obra</legend></center>
		<table>
		<thead>
			<tr>
				<td>IMAGEN</td>
				<td>ID</td>
				<td>NOMBRE</td>
				<td>TIPO</td>
				<td>FECHA</td>
				<td>HORAS EMPLEADAS</td>
				<td>DESCRIPCIÓN</td>
				<td>CREADOR</td>
				<td>OBSERVACIONES</td>
				
				
			</tr>

		</thead>

		<tbody>
			{% if listReportes %}
			{% for reporte in listReportes %}
			<tr>
				<td><img src='{{ reporte.imagen.url }}' width="100px" height="100px" ></td>
				<td>{{reporte.id}}</td>
				<td>{{reporte.nombre}}</td>
				<td>{{reporte.tipo_reporte}}</td>
				<td>{{reporte.fecha_carga}}</td>
				<td>{{reporte.horas_empleadas}}</td>
				<td>{{reporte.descripcion}}</td>
				<td>{{reporte.fk_empleado_id}}</td>
				<td><a class="buttonTwo orange radius" href="#">Observaciones</a></td>
			</tr>
			{% endfor %}
			{% else %}
			<h1>no hay registros</h1>
			{% endif %}
		</tbody>	
	</table>
			<br>
<center><legend>Trabajadores</legend></center>
		<table>
		<thead>
			<tr>
				
				<td>NOMBRE</td>
				<td>CARGO</td>
				<td>DOCUMENTO</td>
				<td>SALARIO</td>
				<td>FECHA INICIO</td>
				<td>TELEFONO</td>
				<td>RH</td>
				<td>CORREO</td>
				
				
			</tr>

		</thead>
		<tbody>
			{% if listEmpleados %}
			{% for empleados in listEmpleados %}
			<tr>
				<td>{{empleados.nombre}}</td>
				<td>{{empleados.cargo}}</td>
				<td>{{empleados.documento}}</td>
				<td>{{empleados.salario}}</td>
				<td>{{empleados.fecha_ingreso}}</td>
				<td>{{empleados.telefono}}</td>
				<td>{{empleados.rh}}</td>
				<td>{{empleados.correo}}</td>

			</tr>

				{% endfor %}
		{% else %}
		<h1>no hay registros</h1>
		{% endif %}	
			
		</tbody>
		
	</table>

	<br>
	<br>
		
	</fieldset>
</div>

{% endblock %}

{% block footer %}
{% endblock %}