{% extends 'user/base/Base.html' %}
{% load staticfiles %}
{% block title %}Empleado GOIAP {% endblock %}
{% block extra %}
<link rel="stylesheet" href="{% static 'css/EstilosBaseFormularios.css' %}">
<script src="http://code.jquery.com/jquery-latest.js"></script><!-- Codigo fuente Jquery -->
  <!-- <script src="{% static 'js/jQuery.js' %}"></script> -->
<script src="{% static 'js/ScriptsGeneral.js' %}"></script>
<script src="{% static 'js/ScriptsIndex.js' %}"></script>
<script src="{% static 'js/ScriptsPagPrincAdmin.js' %}"></script>
{% endblock %}
{% block imagen%} <a href="{% url 'indexEmpleado' %}"><img src="{% static 'logo/GOIAP.png' %}" alt=""></a> {% endblock %}
{% block iconos %}
<nav class="iconos">
	<a href="{% url 'logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</nav>
{% endblock %}
{% block contenido %}

{% if message %}
		<div class="alert alert-dismissible alert-success alerta" id="advertencia">
			<button type="button" class="close" id="cerrar" data-dismiss="alert">&times;</button>
			<strong>Ok, Registro Exitoso!</strong> 
		</div>
{% endif %}

<div class="contenedorAgregar">
	<fieldset>
		<legend>Nuevo Reporte</legend>
		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			
			<div class="left">
				<div class="form-group">
					<label for="nombre" class="control-label control labels">Nombre</label>
					<input type="text" class="form-control control form" id="nombre" name="nombre" placeholder="Nombre del Reporte" required>
				</div>
			</div>
			<div class="left">
				<div class="form-group">
					<label for="tipo" class="control-label control labels">Tipo</label>
					<input type="text" class="form-control control form" id="tipo" name="tipo" placeholder="Tipo de Reporte" required>
				</div>
			</div>

			<div class="left">
				<div class="form-group">
					<label for="imagen" class="control-label control labels">Imagen</label>
					<input type="file" class="control form" id="imagen" name="imagen" required>
				</div>
			</div>
			
			<div class="left">
				<div class="form-group">
					<label for="hrempleadas" class="control-label control labels">Horas Empleadas</label>
					<input type="number" class="form-control control form" min="0" id="hrempleadas" name="hrempleadas" required>
				</div>
			</div>
	

			{% if listObras %}
			<div class="left">
			    <div class="form-group">
					<label for="obra" class="control-label control labels">Obra:</label>
					<select class="form-control control form" id="obra" name="obra" required>
					{% for obras in listObras %}
			        	<option value="{{obras.id}}">{{obras.nombre}}</option>
			        {% endfor%}
			        </select>
			    </div>
			</div>

			{% else %}
			<div class="left">
			    <div class="form-group">
					<label for="obra" class="control-label control labels">Obra:</label>
					<select class="form-control control form" id="obra" name="obra" required>
					
			        	<option>Sin Obras Asignadas</option>
			        
			        </select>
			    </div>
			</div>
			{% endif %}
			<div class="left">
				<div class="form-group">
						<label for="descripcion" class="control-label control labels">Descripción</label>
							<textarea class="control-label control labels" rows="6" cols="35" name="descripcion" placeholder="Ingrese la descripción Aquí" style="margin: 0px; width: 264px; height: 101px;"></textarea>
					</div>
			</div>
			{% if listObras %}
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<input type="submit" class="btn btn-default boton" name="guardar" value="Cargar">
				</div>
			</div>
			{% endif %}
		</form>
	</fieldset>
</div>
{% endblock %}