{% extends 'user/base/Base.html' %}
{% load staticfiles %}
{% block title %}Empleado GOIAP {% endblock %}
{% block extra %}
<link rel="stylesheet" href="{% static 'css/EstilosIndexEmpleado.css' %}">
{% endblock %}
{% block imagen%} <a href="{% url 'indexEmpleado' %}"><img src="{% static 'logo/GOIAP.png' %}" alt=""></a> {% endblock %}
{% block iconos %}
<nav class="iconos">
	<a href="{% url 'logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</nav>
{% endblock %}
{% block contenido %}
<div class="contenedorGeneral">
	<fieldset>
		<legend>Empleado</legend>
		<div class="arriba">
			<a href="{% url 'cargarReporte' %}" class="btn btn-default botonGeneral">Cargar Avance de Obra</a>
		</div>
	</fieldset>
</div>
{% endblock %}