{% extends 'user/base/Base.html' %}
{% load staticfiles %}
{% block title %}Contador GOIAP{% endblock %}
{% block extra %}
<link rel="stylesheet" href="{% static 'css/EstilosIndexContador.css' %}">
<link rel="stylesheet" href="{% static 'css/EstilosBaseFormularios.css' %}">
<script src="http://code.jquery.com/jquery-latest.js"></script><!-- Codigo fuente Jquery -->
<script src="{% static 'js/ScriptsGeneral.js' %}"></script>
<script src="{% static 'js/ScriptsCargarImagen.js' %}"></script>
{% endblock %}
{% block imagen%} <a href="{% url 'indexContador' %}"><img src="{% static 'logo/GOIAP.png' %}" alt=""></a> {% endblock %}
{% block iconos %}
<nav class="iconos">
	<a href="{% url 'logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</nav>
{% endblock %}
{% block contenido %}
{% if message %}
		<div class="alert alert-dismissible alert-success alerta" id="advertencia">
			<button type="button" class="close" id="cerrar" data-dismiss="alert">&times;</button>
			<strong>{{message}}</strong>
		</div>
{% endif %}
<div class="contenedorAgregar">
	<fieldset>
		<legend>Cargar Factura</legend>
		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p}}
			<div class="left">
				<div class="form-group">
					<label for="empresa" class="control-label control labels">Empresa</label>
					<input type="text" class="form-control control form" id="empresa" name="empresa" value="{{factura.empresa}}" required>
				</div>
			</div>
			<div class="left">
				<div class="form-group">
					<label for="nitEmpresa" class="control-label control labels">NIT Empresa</label>
					<input type="text" class="form-control control form" id="nitEmpresa" name="nitEmpresa" value="{{factura.nit_empresa}}" required>
				</div>
			</div>
			<div class="left">
				<div class="form-group">
					<label for="codigo" class="control-label control labels">Codigo Factura</label>
					<input type="text" class="form-control control form" id="codigo" name="codigo" value="{{factura.codigo_factura}}" required>
				</div>
			</div>
			<div class="left">
				<div class="form-group">
					<label for="valor" class="control-label control labels">Valor</label>
					<input type="text" class="form-control control form" id="valor" name="valor" value="{{factura.valor}}" required>
				</div>
			</div>
			<div class="left">
				<div class="form-group">
					<label for="fecha" class="control-label control labels">Fecha</label>
					<input type="date" class="form-control control form" id="fecha" name="fecha" required>
				</div>
			</div>
			<div class="left">
				<div class="form-group">
					<label for="descripcion" class="control-label control labels">Descripcion</label>
					<textarea class="form-control control form" id="descripcion" name="descripcion" required>{{factura.descripcion}}</textarea>
				</div>
			</div>
			<div class="left" id="divImagen">
				<div class="form-group">
					<label for="imagen" class="control-label control labels">Imagen</label>
					<input type="file" class="form-control control form" id="imagen" name="imagen" required>
				</div>
			</div>

			{% if listObras %}
			<div class="left">
				<div class="form-group">
					<label for="obra" class="control-label control labels">Obra</label>
					<select class="form-control control form" id="obra" name="obra">
						{% for obras in listObras %}
						<option value="{{obras.pk}}">{{obras.nombre}}</option>
						{% endfor %}
					</select><br>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<input type="submit" class="btn btn-default boton" name="guardar" value="Guardar">
					<a href="#" class="btn btn-default boton" id="cargarImagen">Cargar Imagen</a>
				</div>
			</div>
			{% else %}
			<div class="left">
				<div class="form-group">
					<label for="obra" class="control-label control labels">Obra</label>
					<select class="form-control control form" id="obra" name="obra" disabled>
						<option>No hay Obras Asignadas</option>
					</select><br>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<input type="submit" class="btn btn-default boton" name="guardar" value="Guardar" disabled>
				</div>
			</div>
			{% endif %}
		</form>
	</fieldset>
</div>
{% endblock %}
{% block footer %}{% endblock %}