{% extends 'user/base/Base.html' %}
{% load staticfiles %}
{% block title %}Contador GOIAP {% endblock %}
{% block extra %}
<link rel="stylesheet" href="{% static 'css/EstilosIndexContador.css' %}">
{% endblock %}
{% block imagen%} <a href="{% url 'indexContador' %}"><img src="{% static 'logo/GOIAP.png' %}" alt=""></a> {% endblock %}
{% block iconos %}
<nav class="iconos">
	<a href="{% url 'logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</nav>
{% endblock %}
{% block menu %}
<ul class="menu">
	<li><a href="#" class="linksPrincipal">Documentos Contables</a>
		<ul>
			<li><a href="{% url 'cargarDocumentoContador' %}">Cargar Documento</a></li>
			<li><a href="{% url 'gestionarDocumentosContador' %}">Gestionar Documentos</a></li>
			<li><a href="{% url 'consultarObservacionesContador' %}">Consultar Observaciones</a></li>
		</ul>
	</li>	
</ul>
{% endblock %}
{% block contenido %}
<div class="contenedorGeneral">
	<fieldset>
		<legend>Contador</legend>
		<div class="der">
			<a href="#" class="btn btn-default botonGeneral">Documentos Contables </a>
		</div>
		<div class="izq">
			<a href="#" class="btn btn-default botonGeneral">Contabilidad</a>
		</div>
	</fieldset>
</div>
{% endblock %}