{% extends 'user/base/Base.html' %}
{% load staticfiles %}
{% block title %}GOIAP{% endblock %} 
{% block extra %}
<link rel="stylesheet" href="{% static 'css/EstilosIndex2.css' %}">
<script src="http://code.jquery.com/jquery-latest.js"></script><!-- Codigo fuente Jquery -->
<script src="{% static 'js/ScriptsGeneral2.js' %}"></script>
{% endblock %}
{% block imagen%} <a href="{% url 'index' %}"><img src="{% static 'logo/GOIAP.png' %}" alt=""></a> {% endblock %}
{% block iconos %}
<nav class="iconos">
	<a href="#"><i class="fa fa-question-circle" id="sinNumeral" aria-hidden="true"></i></a>
</nav>
{% endblock %}
{% block contenido %}
{% if message %}
		<div class="alert alert-dismissible alert-danger" id="advertencia">
			<button type="button" class="close" id="cerrar" data-dismiss="alert">&times;</button>
			<strong>{{message}}</strong> 
		</div>
{% endif %}
<div id="formLogin">
	<fieldset>
		<form action="" method="post">{% csrf_token %}
			{{ form.as_p }}
			<!-- <div class="form-control-feedback" id="divUser">a</div> -->
			<input class="form-control" type="text" id="user" name="user" placeholder="Escribe Nombre de Usuario"><br>
			<!-- <div class="form-control-feedback" id="divPass">  a</div> -->
			<input class="form-control" type="password" id="password" name="password" placeholder="Escribe Contrase&ntilde;a"><br>
			<input type="submit" class="btn btn-default boton" id="botonIngresar" value="Ingresar">
		</form>
	</fieldset>
	<!-- <div id="links">
		<nav class="navLogin">
			<a href="#" class="pos">Olvido su Contrase&ntilde;a</a>
		</nav>
	</div> -->
</div>
{% endblock %}
<div id="contenedor"></div>