{% extends 'user/base/Base.html' %}
{% load staticfiles %}
{% block title %}Administrador GOIAP {% endblock %}
{% block extra %}
<link rel="stylesheet" href="{% static 'css/EstilosIndexAdmin.css' %}">
{% endblock %}
{% block imagen%} <a href="{% url 'indexAdmin' %}"><img src="{% static 'logo/GOIAP.png' %}" alt=""></a> {% endblock %}
{% block iconos %}
<nav class="iconos">
	<a href="{% url 'logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</nav>
{% endblock %}
{% block contenido %}

<center><h1>Contenido del Inventario </h1></center>
	<table>
		<thead>
			<tr>
				<td>ID</td>
				<td>IMAGEN</td>
				<td>ARTICULO</td>
				<td>CANTIDAD</td>
				<td>VALOR</td>
				<td>TIPO</td>
				<td>FECHA INGRESO</td>
				<td>ESTADO</td>
				<td>DESCRIPCION</td>
			</tr>

		</thead>
		<tbody>
			{% if listContenido %}
			{% for documento in listContenido %}
			<tr>
				<td>{{documento.id}}</td>
				<td><img src='{{ obras.imagen.url }}' width="100px" height="100px" ></td>
				<td>{{documento.articulo}}</td>
				<td>{{documento.cantidad}}</td>
				<td>{{documento.valor}}</td>
				<td>{{documento.tipo_articulo}}</td>
				<td>{{documento.fecha_ingreso}}</td>
				<td>{{documento.estado}}</td>
				<td>{{documento.descripcion}}</td>
					

			</tr>
			{% endfor %}
			{% else %}
			<h1>no hay registros</h1>
			{% endif %}
		</tbody>

		

	</table>		

		
	</fieldset>
</div>

{% endblock %}

{% block footer %}
{% endblock %}