{% extends 'user/base/Base.html' %}
{% load staticfiles %}
{% block title %}Administrador GOIAP {% endblock %}
{% block extra %}
<link rel="stylesheet" href="{% static 'css/EstilosIndexAdmin.css' %}">
{% endblock %}
{% block imagen%} <a href="{% url 'indexAdmin' %}"><img src="{% static 'logo/GOIAP.png' %}" alt=""></a> {% endblock %}
{% block iconos %}
<nav class="iconos">
	<a href="{% url 'logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</nav>
{% endblock %}
{% block menu %}
<ul class="menu">
	<li><a href="#" class="linksPrincipal">Usuarios</a>
		<ul>
			<li><a href="{% url 'registrarUsuarios' %}">Registrar Usuarios</a></li>
			<li><a href="{% url 'listaUsuarios' %}">Gestionar Usuarios</a></li>
		</ul>
	</li>	
	<li><a href="#" class="linksPrincipal">Documentos</a>
		<ul>
			<li><a href="{% url 'subirDocumentoAdmin' %}">Subir Documento</a></li>
			<li><a href="{% url 'gestionarDocumentosAdmin' %}">Gestionar Documentos</a></li>
		</ul>
	</li>
	<li><a href="#" class="linksPrincipal">Obra</a>
		<ul>
			<li><a href="{% url 'registrarObras' %}"> Crear Obra</a></li>
			<li><a href="{% url 'listaObras' %}">Gestionar Obra</a></li>
		</ul>
	</li>
</ul>
{% endblock %}
