{% extends 'user/base/Base.html' %}
{% load staticfiles %}
{% block title %}Administrador GOIAP {% endblock %}
{% block extra %}
<link rel="stylesheet" href="{% static 'css/EstilosIndexAdmin.css' %}">
{% endblock %}
{% block iconos %}
<nav class="iconos">
	<a href="#" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</nav>
{% endblock %}
{% block menu %}
<nav class="menu">
	<a href="#">Usuarios</a>
	<a href="#">Permisos</a>
	<a href="#">Documentos</a>
	<a href="#">Obra</a>
</nav>
{% endblock %}
