{% extends 'user/base/Base.html' %}
{% load staticfiles %}
{% block title %}Administrador GOIAP {% endblock %}
{% block extra %}
<link rel="stylesheet" href="{% static 'css/EstilosIndexAdmin.css' %}">
{% endblock %}
{% block imagen%} <a href="{% url 'indexAdmin' %}"><img src="{% static 'logo/GOIAP.png' %}" alt=""></a> {% endblock %}
{% block iconos %}
<nav class="iconos">
	<a href="{% url 'logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</nav>
{% endblock %}
{% block contenido %}

<form action="" method="POST">
{% csrf_token %}

<table>
	<thead>
		<tr>
			<td>
				<label class="control-label control labels" for="rolfilter">Rol</label>
			</td>
			<td>
					<select class="form-control control form" id="rolfilter" name="rolfilter">
						<option>Todos</option>
						<option>Administrador</option>
						<option>Inversionista</option>
						<option>Contador</option>
						<option>Arquitecto</option>
						<option>Ingeniero</option>
						<option>Empleado</option></select>
		</td>
		<td>
				
					<input type="submit" class="button orange" name="filtrar" value="filtrar">
				
		</td>
		<td>
		</td>
		<td>
		</td>
		</tr>
</form>
		
	</thead>
</table>

<br>
<center><legend>Lista de Usuarios</legend></center>
	<table>
		<thead>
			<tr>
				<td>ID</td>
				<td>USUARIO</td>
				<td>NOMBRE</td>
				<td>APELLIDO</td>
				<td>CORREO</td>
				<td>ACTIVO</td>
				<td>ROL</td>
				<td>EDITAR</td>
				<td>ELIMINAR</td>
				
			</tr>

		</thead>
		<tbody>
			{% if listUsuarios %}
			{% for usuarios in listUsuarios %}
			<tr>
				<td>{{usuarios.id}}</td>
				<td>{{usuarios.username}}</td>
				<td>{{usuarios.first_name}}</td>
				<td>{{usuarios.last_name}}</td>
				<td>{{usuarios.email}}</td>
				<td>{{usuarios.is_active}}</td>
				<td>{{usuarios.rol}}</td>
				<td><a class="button orange radius" href="{{usuarios.id}}/editarUsuarios">Editar</a></td>	
				<td><a class="button orange radius" href="{{usuarios.id}}/eliminarUsuarios">Eliminar</a></td>	

			</tr>
			{% endfor %}
			{% else %}
			<h1>no hay registros</h1>
			{% endif %}
		</tbody>

		

	</table>		

		
	</fieldset>
</div>

{% endblock %}