{% extends 'user/base/Base.html' %}
{% load staticfiles %}
{% block title %}Administrador GOIAP {% endblock %}
{% block extra %}
<link rel="stylesheet" href="{% static 'css/EstilosIndexAdmin.css' %}">
<link rel="stylesheet" href="{% static 'css/EstilosBaseFormularios.css' %}">
<script src="http://code.jquery.com/jquery-latest.js"></script><!-- Codigo fuente Jquery -->
  <!-- <script src="{% static 'js/jQuery.js' %}"></script> -->
<script src="{% static 'js/ScriptsGeneral.js' %}"></script>
<script src="{% static 'js/ScriptsIndex.js' %}"></script>
<script src="{% static 'js/ScriptsPagPrincAdmin.js' %}"></script>
{% endblock %}
{% block imagen%} <a href="{% url 'indexAdmin' %}"><img src="{% static 'logo/GOIAP.png' %}" alt=""></a> {% endblock %}
{% block iconos %}
<nav class="iconos">
	<a href="{% url 'logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</nav>
{% endblock %}
{% block contenido %}


{% if message %}
		<div class="alert alert-dismissible alert-success alerta" id="advertencia">
			<button type="button" class="close" id="cerrar" data-dismiss="alert">&times;</button>
			<strong>Ok, Registro Exitoso!</strong> 
		</div>
{% endif %}

	<fieldset>
		<legend>Agregar_Observación</legend>
		
		<form action="" method="POST">
			{% csrf_token %}

			<table>
	<thead>
		<tr>
			<td>
				<label for="observacion" class="control-label control labels">Observaciones:</label>
			</td>	
			<td>		
				<textarea class="control-label control labels" rows="6" cols="35" name="observacion" placeholder="Ingrese la descripción Aquí" style="margin: 0px; width: 561px; height: 138px;"></textarea>
			</td>
			<td>
				<input type="submit" class="btn btn-default boton" name="guardar" value="Guardar">
			</td>
		
			</form>
		
		</thead>
	</table>
</fieldset>

<br>
<br>

{% endblock %}