{% extends 'user/base/Base.html' %}
{% load staticfiles %}
{% block title %}Arquitecto GOIAP{% endblock %}
{% block extra %}
<link rel="stylesheet" href="{% static 'css/EstilosIndexArquitecto.css' %}">
<link rel="stylesheet" href="{% static 'css/EstilosBaseFormularios.css' %}">
{% endblock %}
{% block imagen%} <a href="{% url 'indexArquitecto' %}"><img src="{% static 'logo/GOIAP.png' %}" alt=""></a> {% endblock %}
{% block iconos %}
<nav class="iconos">
	<a href="{% url 'logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</nav>
{% endblock %}
{% if message %}
		<div class="alert alert-dismissible alert-success alerta" id="advertencia">
			<button type="button" class="close" id="cerrar" data-dismiss="alert">&times;</button>
			<strong>Ok, Registro Exitoso!</strong> 
		</div>
{% endif %}
{% block contenido %}
<div class="contenedorAgregar">
	<fieldset>
		<legend>Cargar Documento</legend>
		<form action="" method="POST" enctype="multiplart/form-data">
			{% csrf_token %}
			{{ form.as_p}}
			<div class="left">
				<div class="form-group">
					<label for="nombre" class="control-label control labels">Nombre</label>
					<input type="text" class="form-control control form" id="nombre" name="nombre" placeholder="Nombre Documento" required>
				</div>
			</div>
			<div class="left">
				<div class="form-group">
					<label for="tipoDoc" class="control-label control labels">Tipo Documento</label>
					<input type="text" class="form-control control form" id="tipoDoc" name="tipoDoc" placeholder="Tipo Documento" required>
				</div>
			</div>
			<div class="left">
				<div class="form-group">
					<label for="fechaCarga" class="control-label control labels">Fecha de Carga</label>
					<input type="date" class="form-control control form" id="fechaCarga" name="fechaCarga" required>
				</div>
			</div>
			<div class="left">
				<div class="form-group">
					<label for="archivo" class="control-label control labels">Archivo</label>
					<input type="file" class="form-control control form" id="archivo" name="archivo" required>
				</div>
			</div>
			<div class="left">
				<div class="form-group">
					<label for="nroPag" class="control-label control labels">Numero Paginas</label>
					<input type="number" class="form-control control form" id="nroPag" name="nroPag" required>
				</div>
			</div>
			<div class="left">
				<div class="form-group">
					<label for="estado" class="control-label control labels">Estado</label>
					<input type="text" class="form-control control form" id="estado" name="estado" placeholder="Estado" required>
				</div>
			</div>
			<div class="left">
				<div class="form-group">
					<label for="descripcion" class="control-label control labels">Descripcion</label>
					<textarea class="form-control control form" id="descripcion" name="descripcion"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<input type="submit" class="btn btn-default boton" name="guardar" value="Guardar">
				</div>
			</div>

		</form>
	</fieldset>
</div>
{% endblock %}