{% extends 'user/base/Base.html' %}
{% load staticfiles %}
{% block title %}Arquitecto GOIAP{% endblock %}
{% block extra %}
<link rel="stylesheet" href="{% static 'css/EstilosIndexArquitecto.css' %}">
{% endblock %}
{% block imagen%} <a href="{% url 'indexArquitecto' %}"><img src="{% static 'logo/GOIAP.png' %}" alt=""></a> {% endblock %}
{% block iconos %}
<nav class="iconos">
	<a href="{% url 'logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</nav>
{% endblock %}
{% block menu %}
<ul class="menu">
	<li><a href="#" class="linksPrincipal">Documentos de Obra</a>
		<ul>
			<li><a href="{% url 'cargarDocumentoArquitecto' %}">Cargar Documento</a></li>
			<li><a href="{% url 'gestionarDocumentosArquitecto' %}">Gestionar Documentos</a></li>
			<li><a href="{% url 'consultarObservacionesArquitecto' %}">Consultar Observaciones</a></li>
		</ul>
	</li>	
	<li><a href="#" class="linksPrincipal">Inventario</a>
		<ul>
			<li><a href="#">Crear Inventario</a></li>
			<li><a href="#">Gestionar Inventario</a></li>
		</ul>
	</li>
</ul>
{% endblock %}
